body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.chartreuse-color {
    color: chartreuse;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    box-shadow: 10px 10px yellowgreen;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-color: wheat;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.experience-hub {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.experience-item {
    width: 40%;
    margin-right: 5%;
    margin-left: 10%;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;

}

#full-stuck-developer {
    border-left: 7px solid tomato;
}

#baby-web-developer {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}